@model KlantViewModel
@{
    ViewData["Title"] = "Home Page";
}

<form asp-action="Aanmelden" method="get">
    <div>
        <label asp-for="Naam"></label>
        <input asp-for="Naam" />
        <label asp-for="Postcode"></label>
        <input asp-for="Postcode" />
        <div asp-validation-summary="All"></div>
    </div>
    <input type="submit" value="Aanmelden" class="btn btn-primary" />
</form>