@model Dictionary<string, Film>
@{
    ViewData["Title"] = "Winkelmand";
}

<h1>Winkelmandje</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Titel</th>
            <th>Prijs</th>
            <th>Verwijderen</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var film in Model)
        {
            <tr>
                <td>@film.Value.Titel</td>
                <td>@film.Value.Prijs</td>
                <td>
                    <a asp-action="FilmVerwijderen" asp-route-id="@film.Value.FilmID">
                        <img src="~/images/delete.png" alt="verwijderen" />
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-action="KiezenFilm" asp-route-id="@ViewBag.GenreID">Verder winkelen</a>
<a asp-action="Afrekenen">Afrekenen</a>